$theme: dark;
$animation: true;
$primary: rgb(80, 207, 246);

@if $theme==dark {
    $primary: #001284;
}

body {
    @if $theme==dark {
        background-color: #303030;
        color: white;
    }

    @else {
        background-color: rgb(255, 255, 255);
        color: black;
    }
}

@mixin transform($propery) {
    @if $animation==true {
        transform: $propery;
    }
}

.card {
    border: 2px solid $primary;
    border-radius: 10px;
    padding: 10px;
    padding-top: 0px;
    width: 30%;

    transition-duration: 1s;
}

.card:hover {
    @include transform(translateY(-10px));
}

.card__picture {
    border: 2px solid $primary;
    max-width: 90%;
    height: auto;
    object-fit: contain;
}